---
title: stylesheet
---

@import "normalize";

// Widths
$sidebar-width: 20%;

// Backgrounds
$background-colour: #fff;

// Borders & shadows
$border-colour: #cbcbcb;
$shadow-colour: $border-colour;
$borders: 1px solid $border-colour;

// Type
$text-colour: #373737;


// Globals
body {
	font-size: 14px;
	line-height: 2;
	color: $text-colour;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	background: $background-colour;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin-top: 0;
}

h1, h2 {
	line-height: 1.6;
}

a {
	color: darken($text-colour, 10%);
	text-decoration: none;
	border-bottom: $borders;
	transition: .2s;
	font-weight: 500;
	&:hover {
		border-color: darken($border-colour, 40%);
	}
}

svg {
	fill: transparent;
	stroke: $border-colour;
}


// Header
.header__info {
	color: lighten($text-colour, 30%);
	transition: .2s;
	margin-bottom: 10px;
	&:hover {
		color: $text-colour;
	}
}

.nav--networks,
.info-line {
	display: inline;
}


// Sidebar
.sidebar {
	position: fixed;
	width: $sidebar-width;
	height: 100%;
	padding: 25px;
	text-align: right;
	background: darken($background-colour, 1%);
	border-right: $borders;
	box-shadow: inset -2px 0 4px -2px $shadow-colour;
}

.nav__list {
	list-style: none;
	line-height: 2em;
}

.nav__link {
	position: relative;
	border-bottom: none;
	transition: .2s;
}

.nav__link:hover,
.link--current {
	margin-right: -8px;
}

.link--current {
	&:before,
	&:after {
		content: "";
		position: absolute;
		right: -18px;
		top: 1px;
		height: 0;
		width: 0;
		border: 8px solid transparent;
	}
	&:before {
		border-right-color: $border-colour;
		right: -17px;
	}
	&:after {
		border-right-color: $background-colour;
	}
}


// Main wrapper
.main {
	float: left;
	width: $sidebar-width - 100%;
	max-width: 1024px;
	margin-left: $sidebar-width;
	padding: 25px;
}

// Articles

// Portfolio items

