<section class="articles">

	{% if site.posts %}
		<ul class="list">

			{% for post in site.posts limit:include.limit %}
				<li class="item  item--content">
					<article class="article">

						<h2 class="title">
							{% if post.link %}
								<a href="{{ post.link }}">
									{{ post.title }}
									<svg class="icon  icon--link">
										<use xlink:href="#link"></use>
									</svg>
								</a>
							{% else %}
								<a href="{{ post.url }}">{{ post.title }}</a>
							{% endif %}
						</h2>

						<p class="excerpt">{{ post.excerpt }}</p>

					</article>
				</li>
			{% endfor %}

		</ul>
	{% endif %}

</section>