<div class="section">

	{% if site.posts %}
		<ul class="list  list--unstyled">

			{% for post in site.posts limit:include.limit %}

				{% if post.link %}
					{% assign link = post.link %}
				{% else %}
					{% assign link = post.url %}
				{% endif %}

				{% if post.icon %}
					{% assign icon = post.icon %}
				{% else %}
					{% assign icon = 'article' %}
				{% endif %}

				<li class="item  section__item">
					<article class="article  outline  section__article">

						<a class="link  link--icon" href="{{ link }}" title="{{ post.title }}">
							<svg class="icon  icon--article">
								<use class="outline__fade" xlink:href="#{{ icon }}"{% if post.colour %} fill="{{ post.colour }}"{% endif %}></use>
							</svg>
						</a>

						<header class="header  header--article">
							<h2 class="title">
								<a href="{{ link }}" title="{{ post.title }}">
									{{ post.title }}{% if post.link %}<svg class="icon  icon--link"><use xlink:href="#link"></use></svg>{% endif %}
								</a>
							</h2>
							<p class="excerpt">{{ post.excerpt }}</p>
						</header>

					</article>
				</li>
			{% endfor %}

		</ul>
	{% endif %}

</div>
