{% assign avatarid = "1177460" %}
{% assign avatarurl = "https://avatars0.githubusercontent.com/u/" %}

<link rel="apple-touch-icon" sizes="57x57" href="{{ avatarurl }}{{ avatarid }}?s=57">
<link rel="apple-touch-icon" sizes="60x60" href="{{ avatarurl }}{{ avatarid }}?s=60">
<link rel="apple-touch-icon" sizes="72x72" href="{{ avatarurl }}{{ avatarid }}?s=72">
<link rel="apple-touch-icon" sizes="76x76" href="{{ avatarurl }}{{ avatarid }}?s=76">
<link rel="apple-touch-icon" sizes="114x114" href="{{ avatarurl }}{{ avatarid }}?s=114">
<link rel="apple-touch-icon" sizes="120x120" href="{{ avatarurl }}{{ avatarid }}?s=120">
<link rel="apple-touch-icon" sizes="144x144" href="{{ avatarurl }}{{ avatarid }}?s=144">
<link rel="apple-touch-icon" sizes="152x152" href="{{ avatarurl }}{{ avatarid }}?s=152">
<link rel="apple-touch-icon" sizes="180x180" href="{{ avatarurl }}{{ avatarid }}?s=180">
<link rel="icon" type="image/png" href="{{ avatarurl }}{{ avatarid }}?s=32" sizes="32x32">
<link rel="icon" type="image/png" href="{{ avatarurl }}{{ avatarid }}?s=194" sizes="194x194">
<link rel="icon" type="image/png" href="{{ avatarurl }}{{ avatarid }}?s=96" sizes="96x96">
<link rel="icon" type="image/png" href="{{ avatarurl }}{{ avatarid }}?s=192" sizes="192x192">
<link rel="icon" type="image/png" href="{{ avatarurl }}{{ avatarid }}?s=16" sizes="16x16">
<link rel="shortcut icon" href="{{ avatarurl }}{{ avatarid }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ avatarurl }}{{ avatarid }}?s=144">
<meta name="theme-color" content="#ffffff">
