<header class="header">

	<a class="link  link--circle" href="{% if page.url == "/index.html" %}/{% else %}{{ page.url }}{% endif %}" title="{{ page.title }}">

		{% if page.icon %}
			<svg class="icon  icon--site  icon--large" role="img" aria-label="{{ page.title }} icon">
				<title>{{ page.icon }}</title>
				<use xlink:href="#{{ page.icon }}" fill="{{ page.colour }}"></use>
			</svg>
		{% else %}
			<img class="avatar" src="{{ site.logo | replace: "300", "72" }}" alt="{{ site.title }}" srcset="{{ site.logo | replace: "300", "72" }}  72w, {{ site.logo | replace: "300", "144" }} 144w" sizes="100vw" width="144" height="144">
		{% endif %}

	</a>

	<div class="content  content--header">

		<h1>{{ page.title }}</h1>

	</div>

</header>
