<nav class="nav  nav--main">

	{% if site.data.nav.header %}
		<ul class="list  list--unstyled">

			{% for item in site.data.nav.header %}
				<li class="item  item--main">

					<a class="link  link--main  link--unstyled{% if page.url contains item.url %}  link--current{% endif %}" href="{{ item.url }}" title="{{ item.title }}">
						<svg class="icon  icon--main">
							<use xlink:href="#{{ item.icon }}"{% if post.colour %} fill="{{ post.colour }}"{% endif %}></use>
						</svg>
						<span class="title  item__title">{{ item.title }}</span>
					</a>
				</li>
			{% endfor %}

		</ul>
	{% endif %}

</nav>
