	<!-- General meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% if page.excerpt %}
		{% assign description = page.excerpt %}
	{% else %}
		{% assign description = site.description %}
	{% endif %}
	
	<!-- Title meta -->
	<title>{{ page.title }} - {{ description }}</title>
	<meta property="og:title" content="{{ site.title }}">
	<meta name="twitter:title" content="{{ site.title }}">
	
	{% if description %}
		<!-- Description meta -->
		<meta name="description" content="{{ description }}">
		<meta property="og:description" content="{{ description }}">
		<meta name="twitter:description" content="{{ description }}">
	{% endif %}

	<!-- Author meta -->
	<meta property="og:site_name" content="{{ site.title }}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ site.meta.twitter }}">

	<!-- Domain meta -->
	<meta name="twitter:domain" content="{{ site.url }}">
	<meta name="robots" content="index, follow">

	{% if site.avatar %}
		<!-- Image meta -->
		<meta property="og:image" content="{{ site.avatar }}">
		<meta name="twitter:image" content="{{ site.avatar }}">
	{% endif %}
