{% if site.data.networks %}
        <ul class="list  list--networks">
                {% for item in site.data.networks %}
                        <li class="item  item--network">
                                <a class="link  link--icon" href="{{ item.link }}" title="{{ item.icon }}">
                                        <svg class="icon  icon--network" role="img" aria-label="{{ item.icon }} icon">
                                        	<title>{{ item.icon }}</title>
                                                <use xlink:href="#{{ item.icon }}" width="40" height="40"></use>
                                        </svg>
				</a>
                        </li>
                {% endfor %}
        </ul>
{% endif %}
