<div class="section  section--projects">

	{% if site.projects %}
		<ul class="list  list--unstyled">

			{% for project in site.projects limit:include.limit %}

				{% if project.link %}
					{% assign link = project.link %}
				{% else %}
					{% assign link = project.url %}
				{% endif %}

				{% if project.icon %}
					{% assign icon = project.icon %}
				{% else %}
					{% assign icon = 'project' %}
				{% endif %}

				<li class="item  section__item">
					<article class="article  article--project  section__article">

						<a class="link  link--icon" href="{{ link }}" title="{{ project.title }}">
							<svg class="icon  icon--article">
								<use class="outline__fade" xlink:href="#{{ icon }}"{% if project.colour %} fill="{{ project.colour }}"{% endif %}></use>
							</svg>
						</a>

						<header class="header  header--article">
							<h2 class="title">
								<a href="{{ link }}" title="{{ project.title }}">
									{{ project.title }}
									{% if project.link %}
										<svg class="icon  icon--link">
											<use xlink:href="#link"></use>
										</svg>
									{% endif %}
								</a>
							</h2>

							<p class="excerpt">{{ project.excerpt }}</p>
						</header>

					</article>
				</li>
			{% endfor %}

		</ul>
	{% endif %}

</div>
