<div class="section  section--repos">

	{% if site.github.public_repositories %}
		<ul class="list  list--unstyled">

			{% for repo in site.github.public_repositories limit:include.limit %}
				{% if repo.has_issues == false or repo.name contains 'darn' %}
				{% else %}
				
					{% assign icon = 'experiment' %}
					{% assign name = repo.name | replace: '-', ' ' | capitalize | replace: 'Css', 'CSS' | replace: 'Svg', 'SVG' %}
	
					<li class="item  section__item">
						<article class="article  article--repo  section__article">
	
							<a class="link  link--icon" href="{{ link }}" title="{{ repo.name }}">
								<svg class="icon  icon--article">
									<use class="outline__fade" xlink:href="#{{ icon }}"></use>
								</svg>
							</a>
	
							<header class="header  header--article">
								<h2 class="title">
									<a href="{% if repo.homepage %}{{ repo.homepage }}{% else %}{{ repo.html_url }}{% endif %}" title="{{ repo.name }}">
										{% if repo.name contains '.' %}{{ repo.name }}{% else %}{{ name }}{% endif %}<svg class="icon  icon--link"><use xlink:href="#link"></use></svg>
									</a>
								</h2>
	
								<p class="excerpt">{{ repo.description }}</p>
							</header>
	
						</article>
					</li>
				{% endif %}
			{% endfor %}

		</ul>
	{% endif %}

</div>
