<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<!-- General meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% if page.indexing == false %}
			<meta name="robots" content="noindex">
		{% endif %}

		{% if page.title contains site.title %}
			<title>{{ page.title }} - {{ page.excerpt }}</title>
			{% seo title=false %}
		{% else %}
			{% seo %}
		{% endif %}

		{% include favicons.html %}

		{% include favicons.html %}
	</head>
	<body>
		{% include icons.svg %}

		{{ content }}

		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" media="all" rel="stylesheet" type="text/css">
	</body>
</html>
